@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

/* Toast animations */
@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(400px) scale(0.8);
    opacity: 0;
  }
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideOut {
  animation: slideOut 0.3s cubic-bezier(0.5, 0, 0.75, 0) forwards;
}

.animate-shrink {
  animation: shrink 5s linear forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* app/globals.css hoáº·c styles/globals.css */
.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #000080;
}
